@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gap-y-4 {
  gap: 1rem;
}

.gap-x-5 {
  gap: 1.25rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.containerr {
  min-height: 100vh;
  background: url(./images/bg-desktop.svg);
  background-color: #674baf;
  background-size: contain;
  padding: 2rem 5rem;
}

@media only screen and (max-width: 800px) {
  .containerr {
    padding: 3rem;
    background: url(./images/bg-mobile.svg);
    background-color: #674baf;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 800px) {
  nav img {
    height: 40px !important;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.right {
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
  margin: 0 auto;
}

.right .Register {
  color: #e882e8;
  background-color: white;
  padding: 0.9rem 4rem;
  border-radius: 50px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.right .Register:hover {
  color: white;
  background-color: #e882e8;
}

.right h1 {
  color: #f3f4f6;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

.right p {
  color: #d1d5db;
}

@media only screen and (max-width: 800px) {
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
  }
  .right h1 {
    font-size: 1.6rem;
  }
  .right h1,
  .right p {
    text-align: center;
  }
}

.social-links .icon {
  cursor: pointer;
  fill: white;
  height: 50px;
  width: 50px;
  padding: 0.8rem;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.social-links .icon:hover {
  fill: #e882e8;
  border: 2px solid #e882e8;
}

@media only screen and (max-width: 800px) {
  .social-links .icon {
    height: 45px;
    width: 45px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media only screen and (max-width: 800px) {
  .social-links {
    margin: auto;
  }
}

.two {
  height: 100vh;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  line-height: inherit;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[role=button], button {
  cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button, select {
  text-transform: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
/*# sourceMappingURL=style.css.map */